* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}


/* Pagination */

.pagination__wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background: #20b2aa;
}

.pagination ul {
    display: flex;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    color: #20b2aa;
}

.pagination ul li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.num {
    width: 45px;
    height: 45px;
    margin: 0px 3px;
}

.pagination ul li.active,
.pagination ul li.num:hover,
.pagination ul li.btn:hover {
    background: #20b2aa;
    color: #fff;
}

.pagination ul li i.fas {
    padding: 0px 7px;
}

.pagination ul li.btn {
    padding: 0 20px;
}

.pagination ul li.btn-prev {
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.btn-next {
    border-radius: 5px 25px 25px 5px;
}


/* Pagination */